# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Your code here
name = input("Enter your name: ")
print(name)

Enter your name: prasad
prasad

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
number = float(input("Enter a number:"))

if number > 0:
  print("positive number")
elif number < 0:
  print("negative number")
else:
  print("zero")

Enter a number:5
positive number

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
n1 = float(input("Enter first number:"))
n2 = float(input("Enter second number:"))
n3 = float(input("Enter third number:"))

if n1 > n2 and n1 > n3:
  print("largest number is", n1)
elif n2 > n1 and n2 > n3:
  print("largest number is", n2)
else:
  print("largest number is", n3)

Enter first number:9
Enter second number:12
Enter third number:24
largest number is 24.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
n = int(input("Enter the number: "))

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print("Result is", factorial(n))

Enter the number: 5
Result is 120

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
my_interger = 8
my_float = 2.5
my_string = "prasad"
my_boolean = True

print(my_interger, "is type of:", type(my_interger))
print(my_float, "is type of:", type(my_float))
print(my_string, "is type of:", type(my_string))
print(my_boolean, "is type of:", type(my_boolean))

8 is type of: <class 'int'>
2.5 is type of: <class 'float'>
prasad is type of: <class 'str'>
True is type of: <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
a = 9
b = 2
print(a)
print(b)
#after swap
a, b = b, a
print("-----")
print(a)
print(b)

9
2
-----
2
9

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
celsius = float(input("temperature in Celsius:"))

fahrenheit = (celsius * 9/5) + 32

print("Temperature in Fahrenheit:", fahrenheit)

temperature in Celsius:5
Temperature in Fahrenheit: 41.0

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

result = " ".join([str1, str2])
print("concatenating string is:",result)

Enter first string: Durga
Enter second string: Prasad
concatenating string is: Durga Prasad

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
value = 79

if isinstance(value, int):
    print(f"The variable '{value}' is a integer type.")
else:
    print(f"The variable '{value}' is not a integer type.")

The variable '79' is a integer type.

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print("Addition of two numbers:", add)
print("Subtraction of two numbers:", sub)
print("Multiplication of two numbers:", mul)
print("Division of two numbers:", div)

Enter first number: 7
Enter second number: 5
Addition of two numbers: 12.0
Subtraction of two numbers: 2.0
Multiplication of two numbers: 35.0
Division of two numbers: 1.4

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("a == b is :", a == b)
print("a != b is :", a != b)
print("a > b is :", a > b)
print("a < b is :", a < b)

Enter first number: 7
Enter second number: 3
a == b is : False
a != b is : True
a > b is : False
a < b is : True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
a= False
b= True
print(a and b)
print(a or b)
print(not a)

False
True
True

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
number = float(input("Enter a number:"))
square = number * number

print("Square of a number is:",square)

Enter a number:5
Square of a number is: 25.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
num = int(input("Enter a number:"))

if num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Enter a number:5
number is odd

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
num = int(input("Enter a natural number: "))

if num > 0:
    total = num * (num + 1) // 2
    print("Sum of first", num, "natural numbers is:", total)
else:
    print("Please enter a positive number.")

Enter a natural number: 6
Sum of first 6 natural numbers is: 21

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Your code here
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2025
2025 is not a leap year.

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Your code here
text = input("Enter a string: ")
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text
print("Reversed string:", reversed_text)

Enter a string: prasad
Reversed string: dasarp

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
# Your code here
text = input("Enter a string: ")
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text

if text == reversed_text:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: malayalam
The string is a palindrome.

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
# Your code here
numbers = input("Enter list of: ")

num_list = list(map(int, numbers.split()))

num_list.sort()

print("list as ascending order:", num_list)

Enter list of: 9 1 8 2 7 3
list as ascending order: [1, 2, 3, 7, 8, 9]