# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [8]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(f"Tuple 10 positive integers: {my_tuple}")

Tuple 10 positive integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
first = my_tuple[0]

middle = my_tuple[len(my_tuple)//2]

last = my_tuple[-1]

print("First element:", first)
print("Middle element:", middle)
print("Last element:", last)

First element: 1
Middle element: 6
Last element: 10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [6]:
first_three = my_tuple[:3]

last_three = my_tuple[-3:]

middle_elements = my_tuple[2:6]

print("First three elements:", first_three)
print("Last three elements:", last_three)
print("Elements from index 2 to 5:", middle_elements)

First three elements: (1, 2, 2)
Last three elements: (4, 4, 5)
Elements from index 2 to 5: (2, 3, 4, 4)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
matrix = ((1, 2, 3),(4, 5, 6),(7, 8, 9))

print("matrix 3*3:")
for row in matrix:
    print(row)

element = matrix[1][2]
print("\nElement at second row, third column:", element)

matrix 3*3:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Element at second row, third column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [11]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2

print(f"Concatenated Tuple is: {result}")

Concatenated Tuple is: (1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
numbers = (1, 2, 3, 2, 4, 2, 5)

element = 2

count = numbers.count(element)

first_index = numbers.index(element)

print("Tuple:", numbers)
print(f"Number of times {element} appears:", count)
print(f"First occurrence of {element} is at index:", first_index)

Tuple: (1, 2, 3, 2, 4, 2, 5)
Number of times 2 appears: 3
First occurrence of 2 is at index: 1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [13]:
my_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

a = 10
b = 20
c = 30
d = 40
e = 50


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [15]:
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)

print(f"Converted Tuple is: {my_tuple}")

Converted Tuple is: (1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [17]:
tuples = ((1, 2, 3),(4, 5, 6),(7, 8, 9))

print(f"Tuple of tuples: {tuples}")

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [18]:
my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

my_list.append(6)

new_tuple = tuple(my_list)

print(f"Updated Tuple is: {new_tuple}")

Updated Tuple is: (1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [20]:
text = "hello"

char_tuple = tuple(text)

joined_string = ''.join(char_tuple)

print(f"Tuple of characters: {char_tuple}")
print(f"Joined string is: {joined_string}")

Tuple of characters: ('h', 'e', 'l', 'l', 'o')
Joined string is: hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [27]:
my_dict = {(1, 2): 50,(3, 4): 100,(5, 6): 150}

print(f"Dictionary with Tuple Keys: {my_dict}")

Dictionary with Tuple Keys: {(1, 2): 50, (3, 4): 100, (5, 6): 150}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [4]:
nested_tuple = ((1, 2, 3),(4, 5, 6),(7, 8, 9))

print("Nested tuple:")
for row in nested_tuple:
    for item in row:
        print(item)

Nested tuple:
1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [3]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)

result_set = set(my_tuple)

print(f"Set Unique elements: {result_set}")

Set Unique elements: {1, 2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [28]:
def get_min(t):
    return min(t)

def get_max(t):
    return max(t)

def get_sum(t):
    return sum(t)

tuple = (10, 5, 20, 8, 15)

print("Tuple:", tuple)
print("Minimum:", get_min(tuple))
print("Maximum:", get_max(tuple))
print("Sum:", get_sum(tuple))

Tuple: (10, 5, 20, 8, 15)
Minimum: 5
Maximum: 20
Sum: 58