# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [32]:
my_set = set(range(1, 11))

print(f"set 10 positive integers: {my_set}")

set 10 positive integers: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
my_set = set(range(1, 11))
my_set.add(11)

my_set.remove(1)

print(f"Updated set is: {my_set}")

Updated set is: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8, 10}

union = set1.union(set2)

intersection = set1.intersection(set2)

difference = set1.difference(set2)

symmetric_diff = set1.symmetric_difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("\nUnion:", union)
print("Intersection:", intersection)
print("Difference 'Set1 - Set2':", difference)
print("Symmetric Difference:", symmetric_diff)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 4, 6, 8, 10}

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference 'Set1 - Set2': {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [1]:
squares_set = {x**2 for x in range(1, 11)}
print(squares_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [34]:
my_set = {x for x in range(1, 11)}

even_set = {x for x in my_set if x % 2 == 0}

print(f"Set even numbers: {even_set}")

Set even numbers: {2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
duplicate_elements = [1, 2, 2, 3, 4, 4, 5, 5, 5]

unique_set = set(duplicate_elements)

print(unique_set)

{1, 2, 3, 4, 5}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

subset = set2.issubset(set1)

superset = set1.issuperset(set2)

print("Is set2 a subset of set1:", subset)
print("Is set1 a superset of set2:", superset)

Is set2 a subset of set1: True
Is set1 a superset of set2: True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [8]:
frozen_set = frozenset({1, 2, 3, 4, 5})
print(frozen_set)

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [9]:
my_set = {1, 2, 3, 4, 5}

my_list = list(my_set)

my_list.append(6)

updated_set = set(my_list)

print(updated_set)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
dict = { set({1, 2}): 100, set({3, 4}): 200, set({5, 6}): 300}
print(dict)


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [12]:
my_set = {10, 20, 30, 40, 50}

for item in my_set:
    print(item)

50
20
40
10
30


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [14]:
my_set = {10, 20, 30, 40, 50}

while my_set:
    removed_element = my_set.pop()
    print(f"Removed: {removed_element}, {my_set}")

Removed: 50, {20, 40, 10, 30}
Removed: 20, {40, 10, 30}
Removed: 40, {10, 30}
Removed: 10, {30}
Removed: 30, set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [22]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print("Modified set:", set1)

Modified set: {1, 2, 5, 6}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [35]:
my_set = {10, 20, 30, 40, 50}

elements = [20, 25, 50, 60]

for x in elements:
    if x in my_set:
        print(f"{x} is present in the set.")
    else:
        print(f"{x} is Not present in the set.")

20 is present in the set.
25 is Not present in the set.
50 is present in the set.
60 is Not present in the set.


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [31]:
my_set = {(1, 2), (3, 4), (5, 6), (7, 8)}

print(f"set of tuples: {my_set}")

set of tuples: {(1, 2), (3, 4), (7, 8), (5, 6)}